.App footer {
	/*display: flex;*/
	margin-top: 3rem;
}

.App footer .source {
	color: var(--grey02);
	/*flex: 0 0 100%;*/
	font-family: 'BentonSansCond-RegItalic', italic;
	font-size: 0.8rem;
	margin-top: 3px;
}

.App .source a {
	color: inherit;
}


@media only screen and (min-width: 550px) {
    /* Style adjustments for viewports that meet the condition */
	.App footer {
		display: flex;
		justify-content: space-between;
	}
	.App footer .source {
		flex: 1;
	}
	.App footer .source:nth-child(2) {
		text-align: right;
	}
}